<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>+WIf07tdqt5N1DJb1Go7oA==</key>
	<string>ONyva8/5S22UgoNLd5qwvXd2vqQugX3Nq1Jljeo3/Z8DixtCXPJgNPlJtLegnW0m</string>
	<key>68sV1liD5e4PF5kXLcUkyo9qe8RPUw+ZMRfZa0INSFU=</key>
	<string>68sV1liD5e4PF5kXLcUkyo9qe8RPUw+ZMRfZa0INSFU=</string>
	<key>8P5FlO2jOHCemwkr1khb0g==</key>
	<string>8P5FlO2jOHCemwkr1khb0g==</string>
	<key>90wRvuktIZUG88aD3Y1czw==</key>
	<string>90wRvuktIZUG88aD3Y1czw==</string>
	<key>9oAEy8Lee021oLBU8EhJis/9KIsNrg/pOPirmosLsWJKepoI6k8yaxdIflqbMHXq</key>
	<string>9oAEy8Lee021oLBU8EhJis/9KIsNrg/pOPirmosLsWJKepoI6k8yaxdIflqbMHXq</string>
	<key>BkBuSckWtbLRtTwy6kDt+w==</key>
	<string>BkBuSckWtbLRtTwy6kDt+w==</string>
	<key>Fd3PavfXS4LrshLkh9lLJWAPJ8CJXl1Myvcaa74SZvo=</key>
	<string>Fd3PavfXS4LrshLkh9lLJWAPJ8CJXl1Myvcaa74SZvo=</string>
	<key>I4hQ3zIBKk082XNLvx0wFqLYqDm1xEf1Uh4WscogISc=</key>
	<string>I4hQ3zIBKk082XNLvx0wFqLYqDm1xEf1Uh4WscogISc=</string>
	<key>Jm7+0UOo4v4PAkw4wxynRkjqvzNJC5twNqDOZIzXkCg=</key>
	<string>Jm7+0UOo4v4PAkw4wxynRkjqvzNJC5twNqDOZIzXkCg=</string>
	<key>LLP9sPk59zVRvy/35Dhlcw==</key>
	<string>LLP9sPk59zVRvy/35Dhlcw==</string>
	<key>LfbrAIPDfosOjGomVu3RAA==</key>
	<string>LfbrAIPDfosOjGomVu3RAA==</string>
	<key>Nu+AM79JMZappxYflTD+ete1LrpO1io0z6llYL1EcCLo1k4UFIge0x1ksczrVyL9</key>
	<string>Nu+AM79JMZappxYflTD+ete1LrpO1io0z6llYL1EcCLo1k4UFIge0x1ksczrVyL9</string>
	<key>OoQj8g1OyDD39CnMRaE7LQ==</key>
	<string>OoQj8g1OyDD39CnMRaE7LQ==</string>
	<key>RgTnSludoWF++GdJjxhh5w==</key>
	<string>RgTnSludoWF++GdJjxhh5w==</string>
	<key>ULUh2JAXWnHwpAcCZJ58LA==</key>
	<string>ULUh2JAXWnHwpAcCZJ58LA==</string>
	<key>VTASJUOmNuChSkCphru8Ag==</key>
	<string>dIARSQOXxt5B0bnHIK5dnQ==</string>
	<key>YM+q4ljSbeqyx5MlfPXCtbpPdQazUnn+sKvXHRRrzuo=</key>
	<string>YM+q4ljSbeqyx5MlfPXCtbpPdQazUnn+sKvXHRRrzuo=</string>
	<key>b90FNbtPQkpQ28qAaoaVIw==</key>
	<string>Lr4G9GsiG5XxXME2CvuQQA==</string>
	<key>csP6Zs1TUyGRSU65aqSreOpWYaJp+5zKhW2fReKhHT4=</key>
	<string>csP6Zs1TUyGRSU65aqSreOpWYaJp+5zKhW2fReKhHT4=</string>
	<key>dIARSQOXxt5B0bnHIK5dnQ==</key>
	<string>dIARSQOXxt5B0bnHIK5dnQ==</string>
	<key>gq/T+rvRtJ2xDfSK5ii2Gg==</key>
	<string>gq/T+rvRtJ2xDfSK5ii2Gg==</string>
	<key>h5QmGOpeWy/yay8PVVSShARpuCSPHgVZM0tjtQDf54Aeg3fclk+7xg2vGhrZZzTOHy/gBjShFCJtnWoQk2ObfERHFuGjx+hibaMTU0rmlBk=</key>
	<string>h5QmGOpeWy/yay8PVVSShARpuCSPHgVZM0tjtQDf54Aeg3fclk+7xg2vGhrZZzTOHy/gBjShFCJtnWoQk2ObfERHFuGjx+hibaMTU0rmlBk=</string>
	<key>h5QmGOpeWy/yay8PVVSShOFSvW+8C/W0yoUi8As4nX0=</key>
	<string>h5QmGOpeWy/yay8PVVSShOFSvW+8C/W0yoUi8As4nX0=</string>
	<key>iiAWjHyb1TrLsJbT4xJWc6FpR2UgSIlEm8iHv0JzzoaIgDSOj8HVnlLzaXBeSx+RGCiv23AuPntx8ujeXTW9fw==</key>
	<string>iiAWjHyb1TrLsJbT4xJWc6FpR2UgSIlEm8iHv0JzzoaIgDSOj8HVnlLzaXBeSx+RGCiv23AuPntx8ujeXTW9fw==</string>
	<key>jereakGHX6cz4yYmVWsGRw==</key>
	<string>jereakGHX6cz4yYmVWsGRw==</string>
	<key>ln6lfXBD7ojvNp8HbTSXfg==</key>
	<string>ln6lfXBD7ojvNp8HbTSXfg==</string>
	<key>oWAS0Kr6anCq1POh4e89HN7jbXyHiScx6bt/gv3fXcs=</key>
	<string>oWAS0Kr6anCq1POh4e89HN7jbXyHiScx6bt/gv3fXcs=</string>
	<key>tTNTnpxiKxfvqS7FDK6VmQ==</key>
	<string>tTNTnpxiKxfvqS7FDK6VmQ==</string>
	<key>uO4+6aR50nxbZB3mXbWYDA==</key>
	<string>uO4+6aR50nxbZB3mXbWYDA==</string>
	<key>uyYHgE5+wmqW09Y+ZOyF+w==</key>
	<string>uyYHgE5+wmqW09Y+ZOyF+w==</string>
</dict>
</plist>
